# General
*.iml
.gradle/
build/
.idea/
*.iws
out/
*.DS_Store

# Kotlin Multiplatform
*.klib
.konan/
*.bc

# Android
local.properties
*.apk
*.aab
/captures/

# iOS
*.xcworkspace
*.xcodeproj
DerivedData/
*.hmap
*.ipa